@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 992px) {
    .wap_nav {
        position:fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 7777;
    }

    .wap_nav .logo {
        float: left;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .wap_nav .logo img {
        height: 24px;
        margin-top: 13px;
        margin-left: 10px;
    }

    body {
        padding-top: 50px;
    }

    .pc {
        display: none;
    }

    .wap {
        display: block;
    }

    .head {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 7777;
        padding-top: calc(37/992*100vw);
        padding-left: calc(39/992*100vw);
    }

    .head .logo img {
        width: calc(75/992*100vw);
    }

    .head .nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        top: calc(76/992*100vw);
        line-height: 1;
    }

    .head .nav ul li {
        display: inline-block;
    }

    .head .nav ul li .h2tit a {
        font-size: calc(30/992*100vw);
        font-family: "Poppins";
        font-weight: 400;
        color: #000000;
        display: block;
        margin: 0 calc(30/992*100vw);
    }

    .wrap:after {
        content: "";
        display: table;
        clear: both;
    }

    .wrap {
        width: 100%;
        padding: 0px 15px;
        margin: auto;
        max-width: 100%;
    }

    .section1 .wrap {
        position: relative;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 64vw;
    }

    .section1 .left {
        width: 100%;
    }

    .section1 .left .title b {
        display: block;
        text-transform: uppercase;
        font-family: "GrayDesign";
    }

    .section1 .left .title {
        font-size: calc(142/992*100vw);
        font-family: "GrayDesign";
        font-weight: bold;
        color: #E86467;
        line-height: 1;
        white-space: nowrap;
    }

    .section1 .left .dec {
        font-size: calc(30/992*100vw);
        font-family: "Poppins";
        font-weight: 400;
        color: #000000;
        padding-top: calc(72/992*100vw);
        padding-bottom: calc(36/992*100vw);
        line-height: 1.7;
    }

    .section1 {
        padding-top: calc(61/992*100vw);
    }

    .section1 .bg {
        background: url(../images/bg1.png) no-repeat center center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .section1 .left .link {
        padding-bottom: calc(17/992*100vw);
    }

    .section1 .left .link a img {
        margin-right: calc(23/992*100vw);
        width: calc(62/992*100vw);
        height: calc(62/992*100vw);
    }

    .section1 .left .copy .words {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 calc(20/992*100vw);
    }

    .section1 .left .copy .send {
        width: calc(164/992*100vw);
        height: calc(65/992*100vw);
        background: linear-gradient(-90deg,#FCB5C5,#FF7695);
        border-radius: calc(32/992*100vw);
        border: none;
        font-size: calc(30/992*100vw);
        font-family: "Poppins";
        font-weight: 400;
        color: #FFFFFF;
        position: absolute;
        right: calc(3/992*100vw);
        top: calc(3/992*100vw);
    }

    .section1 .left .copy {
        width: calc(695/992*100vw);
        height: calc(71/992*100vw);
        background: #FFFFFF;
        border-radius: calc(36/992*100vw);
        overflow: hidden;
        position: relative;
    }

    .section1 .right {
        padding-bottom: calc(100/992*100vw);
        padding-left: calc(142/992*100vw);
        position: absolute;
        top: 0;
        right: 0;
        -o-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .section1 .right .img1 {
        /* Your styles for .img1 here */
        width: calc(243/992*100vw);
        position: absolute;
        bottom: calc(58/992*100vw);
        left: 0;
    }

    .section1 .right .img2 {
        /* Your styles for .img2 here */
        width: calc(130/992*100vw);
        position: absolute;
        bottom: calc(44/992*100vw);
        left: calc(-36/992*100vw);
    }

    .section1 .right .img3 {
        /* Your styles for .img3 here */
        width: calc(477/992*100vw);
        z-index: 4;
        position: relative;
    }

    .section1 .right .img4 {
        /* Your styles for .img4 here */
        width: calc(223/992*100vw);
        position: absolute;
        bottom: 0;
        left: calc(139/992*100vw);
        z-index: 4;
    }

    .titlemodel {
        /* Your styles for .titlemodel here */
        text-align: center;
    }

    .titlemodel .en {
        /* Your styles for .en here */
        font-size: calc(92/992*100vw);
        font-weight: 500;
        color: #E86467;
        line-height: 1;
        opacity: 0.2;
    }

    .titlemodel .en1 {
        /* Your styles for .en1 here */
        font-size: calc(98/992*100vw);
        font-weight: 400;
        color: #FF9600;
        line-height: 1;
        margin-top: calc(-52/992*100vw);
    }

    .section2 {
        padding-top: calc(259/992*100vw);
    }

    .section2 .content {
        /* Your styles for .content here */
        background: url(../images/bg2.png) no-repeat right center;
        padding-bottom: calc(163/992*100vw);
        background-size: 76% auto;
    }

    .section2 .content .wrap {
        /* Your styles for .wrap here */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: calc(106/992*100vw);
    }

    .section2 .content .left {
        /* Your styles for .left here */
        width: 61%;
        padding-left: calc(20/992*100vw);
    }

    .section2 .content .left .title {
        /* Your styles for .title here */
        font-size: calc(69/992*100vw);
        font-family: 'Poppins_M';
        font-weight: 500;
        color: #835F5D;
        line-height: calc(87/992*100vw);
    }

    .section2 .content .left .dec {
        /* Your styles for .dec here */
        font-size: calc(30/992*100vw);
        font-family: Poppins;
        font-weight: 300;
        color: #ADADAD;
        line-height: calc(38/992*100vw);
        padding-top: calc(44/992*100vw);
    }

    .section2 .content .right {
    }

    .section2 .content .right img {
        width: 29vw;
    }

    .section3 {
        padding-top: calc(44/992*100vw);
    }

    .section3 {
        /* styles for the section3 container */
        background: url(../images/bg3.png) no-repeat center bottom;
        background-size: 100%;
        padding-bottom: calc(420/992*100vw);
    }

    .section3 .wrap {
        /* styles for the wrap container within section3 */
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: stretch;
    }

    .section3 .item {
        /* styles for the item container within section3 */
        min-height: calc(403/992*100vw);
        background: #FFFFFF;
        box-shadow: 0px 0px calc(49/992*100vw) 0px rgba(0,0,0,0.08);
        border-radius: calc(50/992*100vw);
        width: 100%;
        float: left;
        margin-bottom: calc(43/992*100vw);
        padding-left: calc(56/992*100vw);
        padding-right: calc(42/992*100vw);
        position: relative;
        padding-bottom: calc(45/992*100vw);
        margin-right: 0;
    }

    .section3 .item.last {
        /* styles for the last item container within section3 */
        width: 100%;
        height: auto;
        padding-left: calc(50/992*100vw);
        padding-bottom: calc(40/992*100vw);
    }

    .section3 .item .title {
        /* styles for the title container within item */
        height: calc(200/992*100vw);
        position: relative;
        display: flex;
    }

    .section3 .item .title .icon {
        height: 100%;
        position: relative;
        margin-left: calc(10/992*100vw);
    }

    .section3 .item .title .tit {
        /* styles for the tit container within title */
        font-size: calc(41/992*100vw);
        font-family: 'Poppins_M';
        font-weight: 500;
        color: #DB7E80;
        line-height: calc(51/992*100vw);
        padding-top: calc(48/992*100vw);
    }

    .section3 .item .title img {
        position: absolute;
        bottom: calc(25/992*100vw);
        max-height: calc(221/992*100vw);
    }

    .section3 .item .dec {
        font-size: calc(21/992*100vw);
        font-family: Poppins;
        font-weight: 300;
        color: #ADADAD;
        line-height: 1.5;
    }

    .section3 .item.last .icon {
        width: calc(236/992*100vw);
    }

    .section3 .item.last .title .icon{
        margin-left:10vw;
    }
    .section3 .item.last .icon img {
        position: absolute;
        right: -2px;
        height: 100%;
    }

    .section3 .item:nth-child(2n) {
        margin-right: 0;
        float: right;
    }

    .section4 {
        background: url(../images/bg4.png) no-repeat left calc(72/992*100vw);
        margin-top: calc(60/992*100vw);
        padding-bottom: calc(130/992*100vw);
        background-size: calc(1082/992*100vw);
    }

    .section4 .wrap {
        /* Add your styles for .wrap here */
    }

    .section4 .titlemodel {
    }

    .section4 .titlemodel .en {
    }

    .section4 .titlemodel .en1 {
        font-size: calc(75/992*100vw);
    }

    .section4 .content {
        padding-top: calc(274/992*100vw);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section4 .content .left {
        width: 51%;
    }

    .section4 .content .left .title1 {
        font-size: calc(83/992*100vw);
        font-family: 'Poppins_M';
        font-weight: normal;
        color: #FFB3B3;
        line-height: 1;
        opacity: 0.4;
    }

    .section4 .content .left .val {
        font-size: calc(20/992*100vw);
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: #FFFFFF;
        display: inline-block;
        line-height: 1.7;
        background: #7F27EB;
        border-radius: calc(16/992*100vw);
        padding: 0 calc(20/992*100vw);
        margin-bottom: calc(5/992*100vw);
    }

    .section4 .content .left .title2 {
        font-size: calc(72/992*100vw);
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: #FF8F8F;
        line-height: 1;
        padding-bottom: calc(54/992*100vw);
        padding-left: calc(10/992*100vw);
    }

    .section4 .content .left .dec {
        font-size: calc(24/992*100vw);
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: #27A2EB;
        line-height: calc(38/992*100vw);
    }

    .section4 .content .left .dec .p1 {
    }

    .section4 .content .left .dec .p2 {
        color: #EB2798;
    }

    .section4 .content .left .dec .p3 {
        color: #EBCA27;
    }

    .section4 .content .left .dec .p4 {
        color: #27EB4F;
    }

    .section4 .content .left .dec .p5 {
        color: #EB272A;
    }

    .section4 .content .left .dec .p6 {
        color: #EB6F27;
    }

    .section4 .content .right {
    }

    .section4 .content .right img {
        width: calc(470/992*100vw);
    }

    .section5 {
        background: url(../images/bg5.png) no-repeat center bottom;
        background-size: 100%;
        padding-bottom: calc(350/992*100vw);
    }

    .section5 .wrap {
    }

    .section5 .titlemodel {
    }

    .section5 .titlemodel .en {
    }

    .section5 .content {
        padding-top: calc(23/992*100vw);
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .section5 .content .left {
        width: 100%;
    }

    .section5 .content .left .title {
        font-size: calc(83/992*100vw);
        font-family: 'Poppins_M';
        font-weight: 400;
        color: #574429;
        white-space: nowrap;
    }

    .section5 .content .left .dec {
        font-size: calc(19/992*100vw);
        font-family: Poppins;
        font-weight: 400;
        color: #737373;
        line-height: 1.5;
        padding-top: calc(72/992*100vw);
        padding-bottom: calc(40/992*100vw);
        width: 100%;
        max-width: 100%;
    }

    .section5 .content .left .dec p:last-child {
        padding-bottom: 0;
    }

    .section5 .content .left .dec p {
        padding-bottom: calc(30/992*100vw);
    }

    .section5 .content .left .more {
        width: calc(377/992*100vw);
        line-height: calc(63/992*100vw);
        background: linear-gradient(-90deg,#FCB5C5,#FF7695);
        border-radius: calc(32/992*100vw);
        display: inline-block;
        text-align: center;
        font-size: calc(29/992*100vw);
        font-family: Poppins;
        font-weight: 400;
        color: #574429;
        text-transform: uppercase;
    }

    .section5 .content .right {
        position: relative;
        right: 0;
        width: 100%;
        padding-top: 4vw;
    }

    .section5 .content .right .img1 {
        width: 100%;
    }

    .section5 .content .right .img2 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 24vw;
    }

    .section6 .u1 {
        width: 39%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
    }

    .section6 .u2 {
        position: absolute;
        top: 10vw;
        left: 50%;
        -o-transform: translate(-50%,0%);
        -webkit-transform: translate(-50%,0%);
        -moz-transform: translate(-50%,-50%);
        translate(-50%,0%): translate(-50%,0%);transform: translate(-50%,0%);
        width: 100%;
    }

    .section6 {
        position: relative;
    }

    .section6 .wrap {
        position: relative;
        z-index: 4;
    }

    .section6 .titlemodel {
    }

    .section6 .titlemodel .en {
    }

    .section6 .titlemodel .en1 {
    }

    .section6 .list {
        padding-top: calc(127/992*100vw);
    }

    .section6 .list .item:nth-child(1):after {
        background: url(../images/uy1.png) no-repeat center center;
        background-size: 100%;
    }

    .section6 .list .item:nth-child(2):after {
        background: url(../images/uy2.png) no-repeat center center;
        background-size: 100%;
    }

    .section6 .list .item:nth-child(3):after {
        background: url(../images/uy1.png) no-repeat center center;
        background-size: 100%;
    }

    .section6 .list .item:after {
    }

    .section6 .list .item {
        /*  width:33.333%;*/
        float: left;
        height: 110vw;
        padding-top: 63vw;
        padding-left: 12vw;
        padding-right: 12vw;
        position: relative;
        width: 100%;
        margin-right: 0;
    }

    .section6 .list .item:nth-child(3) {
        margin-right: 0;
    }

    .section6 .list .item .title {
        font-size: calc(23/992*100vw);
        font-family: 'Poppins_M';
        font-weight: 500;
        color: #AA6868;
        line-height: 1;
    }

    .section6 .list .item .dec {
        font-size: calc(14/992*100vw);
        font-family: Poppins;
        font-weight: 400;
        color: #656565;
        line-height: 1.6;
        padding-top: calc(19/992*100vw);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .section6 .list .item > * {
        position: relative;
        z-index: 4;
    }

    .section6 .list .item:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -o-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background-size: 100% 100% !important;
    }

    .section7 {
        position: relative;
        z-index: 4;
        padding-top: calc(389/992*100vw);
        margin-bottom: calc(220/992*100vw);
    }

    .section7 .wrap {
        display: block;
    }

    .section7 .content {
        display: block;
        justify-content: space-between;
        padding-left: 0;
        align-items: end;
    }

    .section7 .content .left {
        margin-right: 0;
        width: 100% !important;
    }

    .section7 .content .left .title:after {
        content: "";
        position: absolute;
        width: calc(563/992*100vw);
        height: calc(438/992*100vw);
        background: url(../images/li.png) no-repeat center center;
        background-size: 100%;
        right: auto;
        top: calc(-186/992*100vw);
        left: 0;
    }

    .section7 .content .left .title span {
        position: relative;
        z-index: 4;
        display: inline-block;
        font-family: 'Poppins_M';
    }

    .section7 .content .left .title {
        font-size: calc(69/992*100vw);
        font-family: Poppins;
        font-weight: 500;
        color: #835F5D;
        line-height: 1.3;
        position: relative;
    }

    .section7 .content .left .dec {
        font-size: calc(30/992*100vw);
        font-family: Poppins;
        font-weight: 300;
        color: #ADADAD;
        line-height: 1.6;
        padding-top: calc(25/992*100vw);
        width: 100%;
    }

    .section7 .content .right {
        position: relative;
        padding-top: 28vw;
    }

    .section7 .content .right img.img1 {
        width: 100%;
    }

    .section7 .content .right img.img2 {
        position: absolute;
        left: 0;
        width: calc(378/992*100vw);
        bottom: calc(288/992*100vw);
        left: 25vw;
    }

    .section8 {
    margin-bottom: 14vw;
    }

    .section8 .wrap {
    }

    .section8 .titlemodel {
    }

    .section8 .titlemodel .en {
    }

    .section8 .titlemodel .en1 {
        font-size: calc(77/992*100vw);
    }

    .section8 .list {
        padding-top: calc(220/992*100vw);
    }

    .section8 .list .item {
        min-height: calc(292/992*100vw);
        background: url(../images/bg6.png) no-repeat right center;
        border-radius: calc(150/992*100vw) calc(50/992*100vw) calc(50/992*100vw) calc(150/992*100vw);
        margin-bottom: 6vw;
        padding-left: calc(427/992*100vw);
        position: relative;
        padding-top: calc(47/992*100vw);
        padding-right: calc(70/992*100vw);
        background-size: cover;
        padding-bottom: 8vw;
        height: auto;
    }

    .section8 .list .item .imgbox {
        position: absolute;
        top: 50%;
        left: 0;
        -o-transform: translate(0%,-50%);
        -webkit-transform: translate(0%,-50%);
        -moz-transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
        transform: translate(0%,-50%);
        width: calc(400/992*100vw);
        text-align: center;
    }

    .section8 .list .item .imgbox img {
        max-width: 100%;
    }

    .section8 .list .item .ri {
    }

    .section8 .list .item .ri .title {
        font-size: calc(47/992*100vw);
        font-family: 'Poppins_M';
        font-weight: 500;
        color: #702929;
        line-height: 1;
    }

    .section8 .list .item .ri .dec {
        font-size: calc(24/992*100vw);
        font-family: Poppins;
        font-weight: 300;
        color: #5C5C5C;
        line-height: 1.6;
        padding-top: calc(26/992*100vw);
    }

    .section9 .wrap {
        width: calc(1466/992*100vw);
    }

    .section9 .titlemodel .en {
    }

    .section9 .titlemodel .en1 {
        font-size: calc(77/992*100vw);
    }

    .section9 .list {
        padding-top: calc(154/992*100vw);
    }

    .section9 .item {
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: 100vw !important;
    }

    .section9 .item2 {
        width: calc(973/992*100vw);
        height: calc(1102/992*100vw);
        float: right;
        margin-top: 0;
        z-index: 4;
        margin-bottom: 6vw;
    }

    .section9 .item3 {
        width: calc(1115/992*100vw);
        height: calc(934/992*100vw);
        top: 0;
        z-index: 4;
    }

    .section9 .item1 {
        width: calc(930/992*100vw);
        height: calc(1078/992*100vw);
        padding-left: calc(170/992*100vw);
    }

    .section9 .item1 .bg {
        height: 100%;
        background: url(../images/cu1.png) no-repeat center center;
        background-size: 100%;
    }

    .section9 .item2 .bg {
        background: url(../images/cu2.png) no-repeat center center;
        background-size: 100%;
    }

    .section9 .item3 .bg {
        background: url(../images/cu3.png) no-repeat center center;
        background-size: 100%;
    }

    .section9 .item .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
    }

    .section9 .item .con {
        position: relative;
        z-index: 4;
    }

    .section9 .item .title {
        font-size: calc(54/992*100vw);
        font-family: 'Poppins_M';
        font-weight: 400;
        color: #000000;
    }

    .section9 .item .dec p {
        padding-bottom: calc(21/992*100vw);
    }

    .section9 .item .dec {
        font-size: calc(27/992*100vw);
        font-family: Poppins;
        font-weight: 300;
        color: #000000;
        line-height: 1.2;
        padding-top: calc(60/992*100vw);
    }

    .section9 .item .pig {
        position: absolute;
    }

    .section9 .item.item2 .con {
        padding-left: 40%;
        padding-right: 12%;
        padding-top: 7%;
    }

    .section9 .item.item3 .con {
        padding-left: 24%;
        padding-right: 26%;
    }

    .section9 .item.item2 .pig {
        top: calc(-204/992*100vw);
        right: calc(-20/992*100vw);
        width: calc(543/992*100vw);
    }

    .section9 .item.item3 .pig {
        width: calc(431/992*100vw);
        top: calc(-335/992*100vw);
        left: 0;
    }

    .section10 .wrap {
        display: block;
        justify-content: space-evenly;
    }

    .section10 .left {
        width: 100%;
        padding-top: 13vw;
    }

    .section10 .left .title * {
        font-family: GrayDesign;
        font-weight: normal;
    }

    .section10 .left .title {
        font-size: calc(147/992*100vw);
        font-family: GrayDesign;
        font-weight: normal;
        color: #E86467;
        line-height: calc(133/992*100vw);
    }

    .section10 .left .dec {
        font-size: calc(30/992*100vw);
        font-family: Poppins;
        font-weight: 400;
        color: #929292;
        padding-top: calc(45/992*100vw);
        padding-bottom: calc(76/992*100vw);
    }

    .section10 .left .dec p:last-child {
        padding-bottom: 0;
    }

    .section10 .left .dec p {
        padding-bottom: calc(50/992*100vw);
    }

    .section10 .left .dec b {
    }

    .section10 .left .more {
        width: calc(377/992*100vw);
        line-height: calc(87/992*100vw);
        background: linear-gradient(-90deg,#FCB5C5,#FF7695);
        border-radius: calc(32/992*100vw);
        display: inline-block;
        text-align: center;
        font-size: calc(29/992*100vw);
        font-family: Poppins;
        font-weight: 400;
        color: #574429;
    }

    .section10 .right {
        position: relative;
        padding-left: 0;
    }

    .section10 .right .ewm {
        width: 100%;
    }

    .section10 .right .pig {
        width: calc(400/992*100vw);
        position: absolute;
        left: calc(5/992*100vw);
        bottom: calc(-10/992*100vw);
    }

    .footer {
        background: url(../images/footer.png) no-repeat center top;
        background-size: cover;
        padding-top: calc(434/992*100vw);
        position: relative;
        padding-bottom: calc(164/992*100vw);
    }

    .footer .con img {
        height: calc(151/992*100vw);
    }

    .footer .wrap {
    }

    .footer img {
    }

    .footer .link {
        padding-top: calc(93/992*100vw);
        font-size: 0;
    }

    .footer .link a {
    }

    .footer .link a img {
        margin-right: calc(23/992*100vw);
        width: calc(62/992*100vw);
        height: calc(62/992*100vw);
    }

    .footer .pig {
        position: absolute;
        right: calc(33/992*100vw);
        bottom: calc(68/992*100vw);
        width: calc(463/992*100vw);
    }
}